body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .section-1, .section-4 {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
    padding-bottom: 5%;

}

.section-2, .section-3 {
    padding-left: 20%;
    padding-right: 20%;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;

}

button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;

}


.section-1, .section-2, .section-3 {
    height: 350px;
}
.section-1 {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: left;
    align-items: center;
}


.container-1, .container-2 {
    justify-content: center;
    flex: 1;
}

.container-2 {
    display: flex;
    width: 300px;
    height: 200px;
    background-color: rgb(119, 123, 124);
    align-items: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;

}

.section-2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.illustration {
    width: 125px;
    height: 125px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
}

.section-2 p {
    max-width: 135px;
    text-align: center;
    
}

.section-3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-2 {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
}

.footer {

    background-color: #1F2937;

}